
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100%;
}

h1, h4 {
    margin: 10px 0;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}


#general {
    background: linear-gradient(150deg, #eba102, #f10271, #00c298);
    background-size: 400%, 300%;
    animation: BgGradient 5s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#cabecera {
    background-color: #a584c7;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 650px;
    margin-bottom: 20px;
}

#cabecera h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

#cabecera h4 {
    font-size: 1.1rem;
    color: #fff;
}


#marco {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    position: relative;
}

#marco h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
}

#marco p {
    font-size: 1.2rem;
    margin: 10px 0;
}


#tiempo, #puntos {
    font-size: 1.5rem;
    color: #fff;
}

#temporizador {
    font-weight: bold;
    font-size: 1.8rem;
    color: #e74c3c;
}

#contador {
    font-weight: bold;
    font-size: 1.8rem;
    color: #2ecc71;
}

#letra {
    font-family: 'Fantasy', sans-serif;
    font-size: 200px; 
    color: #f39c12;
    margin: 20px 0;
}


#empezar, #parar {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#empezar {
    background-color: #27ae60;
}

#parar {
    background-color: #e74c3c;
}

#empezar:hover {
    background-color: #2ecc71;
}

#parar:hover {
    background-color: #c0392b;
}


#max, #aciertos, #fallos {
    font-size: 1.3rem;
    margin-top: 10px;
}


@media (max-width: 768px) {
    #general {
        padding: 10px;
    }

    #cabecera {
        width: 90%;
        padding: 10px;
    }

    #marco {
        width: 80%;
        padding: 15px;
    }

    #letra {
        font-size: 150px; /* Reducir el tamaño en dispositivos pequeños */
    }
}
